.dense {
    font-size: 80%;

    > p+ul {

        list-style: inside;

        li {
            line-height: 0.5;
        }
    }
}


#pyramid > p {
	color: white;
	font-size: 2em;
	font-weight: bold;
	width: 50%;
	margin-left: 1em;
}