.slidedeck {
    font-size : 32pt;
}


.slidedeck section.illustration {

    > h3 {
        margin-left: 53%;
        background-color: unset;
        position: relative;
        color : orange;
    }

    > .block-image {
        height : 100%;
    }
}